<web-app>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
        <description>This servlet is an example servlet</description>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
</web-app>