<web-app>
    <filter>
        <filter-name>LogInFilter</filter-name>
        <filter-class>servlets.filters.AuthFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>servlets.controllers.LogInServlet</servlet-class>
        <description>LogIn</description>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>servlets.controllers.UsersServlet</servlet-class>
        <description>Presentation</description>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>servlets.controllers.UserCreateServlet</servlet-class>
        <description>Addition</description>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>servlets.controllers.UserUpdateServlet</servlet-class>
        <description>Update</description>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JSONServlet</servlet-name>
        <servlet-class>servlets.controllers.JSONServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!--<filter-mapping>
        <filter-name>LogInFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>-->
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONServlet</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
</web-app>