<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate_example</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">2212</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <mapping resource="models/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>